.edit-categories {
    display: flex;
    justify-content: start;
    align-items: start;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 48px;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 32px;
}

.form-edit-categories {
    border: 2px solid var(--trazo);
    border-radius: calc(0.5rem - 2px);
    padding: 20px;
    width: 100%;
}
.form-edit-categories__id {
    width: 100%;
    text-align: end;
}

.form-edit-categories > div {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 5px;
}

.form-edit-categories > div > div{
    width: 100%;
    margin-top: 5px;
}
.form-edit-categories__id {
    display: block;
}

.form-edit-categories > footer {
    margin-top: 10px;
}