.textbox__label,.textarea__label {
    display: block;
    color: var(--fuenteNormal);
    margin-bottom: 5px;
    font-size: (var(--text-fontSize));
}


.textbox__input,.textarea__input  {
    display: block;
    padding: 0.25rem 0.75rem 0.25rem 0.75rem;
    min-width: 20rem;
    border: 1px solid var(--trazo);
    border-radius: calc(0.5rem - 2px);
    font-size: var(--text-fontSize);
}

.textarea__input {
    height: 110px;
}

.textbox__input {
    height: 2.25rem;
}

.textarea__input {
    resize: none;
}

.textbox__input:focus,.textarea__input:focus {
    outline: 1px solid var(--trazo);
}

.textbox__input::placeholder,.textarea__input::placeholder {
    color: var(--fuenteOscuro);
}