.nav {
    height: 100%;
    width: 80px;
    border: 1px solid var(--trazo);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--fondo-normal);
    position: relative;
}

.nav__logo {
    width: auto;
    height: auto;
    position: absolute;
    top: 15px;
}

.nav__item {
    list-style-type: none;
}

.nav__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.nav__link, .nav__link--selected {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--fondoNormal);
    height: 32px;
    width: 32px;
    border-radius: 8px;
    color: var(--fuenteNormal);
}

.nav__link--selected {
    background-color: var(--colorMenu);
}

.nav__icon {
    width: 32px;
    height: 32px;
}

@media (max-width: 1024px) {

    .nav__list {
        gap: 24px;
    }

    .nav__link, .nav__link--selected,.nav__icon {
        width: 30px;
        height: 30px;
        border-radius: 8px;

    }
   
}

@media (max-width: 1366px) {
    .nav__link, .nav__link--selected,.nav__icon {
        width: 30px;
        height: 30px;
        border-radius: 8px;
    }
}